<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="GeorgetownFTBotAPIToken" value="xoxb-864195309413-855007620451-pMag1wcRUukXcVriF9nmaiE4"/>
  </appSettings>
</configuration>